.sidebar {
  width: 20vw;
  .categories {
    margin: 1rem;
    p {
      font-weight: bolder;
      font-size: 1.2rem;
      text-align: center;
    }
    .each-input {
      display: flex;
      margin-bottom: 15px;

      label {
        position: relative;
        cursor: pointer;
      }
    }
    button {
      height: 5vh;
      width: 8vw;
      background-color: rgba(118, 8, 243);
      color: white;
      cursor: pointer;
      border-radius: 15px;
      font-size: 0.8rem;
      border: 1px solid rgba(118, 8, 243);
    }
  }
}
